<div class="modal fade" id="Travel_destination_card" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document" style="max-width: unset; width: 75%; height: 500px;">
    <div class="modal-content" style="width: 100% !important; height: 100%;">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Destination de voyages</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-8">
            <%= geo_chart @company.transactions.group(:countries).count, download: true %>
          </div>
          <div class="col-4">
            <h3>Description</h3>
            <br>
            <p > Top 5/10/15/20 des routes pour lesquelles le volume de dépenses est le plus élevé </p>
            <div class="icons-right">
              <div>
                <%= link_to addfavorite_path(params: { graph: 'travel-destination' }) do %>
                  <% if current_user.favorites.include?('travel-destination') %>
                    <i class="fas fa-heart"></i>
                  <% else %>
                    <i class="far fa-heart"></i>
                  <% end %>
                <% end %>
              </div>
              <div>
                <i class="fas fa-at"> </i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
