<main class="page-content flex-grow-1 p-5 d-block">
    <div class="d-flex justify-content-between align-items-center">
      <h5>Budget</h5>
      <%= image_tag("Logo-TNE-RVB-small.png", :alt => "#", :class => "logo") %>
    </div>
<hr>

<% if current_user.favorites.include?('cumul_total_spend') || params[:action] == 'budget' %>
  <div class="col-xs-12 col-sm-12">
    <div class="card-chart" data-toggle="modal" data-target="#cumul_total_spend_card">
        <h3>Montant de depenses cumul</h3>
          <!-- <-- <canvas id="myChart" width="400" height="400"></canvas> -->
          <%# raise %>
          <%= column_chart @company.amount_per_month, {format: "%b", download: true} %>
    </div>
  </div>
<%end %>

<div class="modal fade" id="cumul_total_spend_card" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content" style="width: 150%">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <%= link_to addfavorite_path(params: { graph: 'cumul_total_spend' }) do %>
              <% if current_user.favorites.include?('cumul_total_spend') %>
                <i class="fas fa-heart"></i>
              <% else %>
                <i class="far fa-heart"></i>
              <% end %>
          <% end %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>

</main>
