
<main class="page-content flex-grow-1 p-5 d-block">
    <div class="d-flex justify-content-between align-items-center">
      <h5>Settings</h5>
      <%= image_tag("Logo-TNE-RVB-small.png", :alt => "#", :class => "logo") %>
    </div>
    <hr>

<%= render "devise/registrations/edit" %>

<div class="container">

  <div class="row">
    <div class="col-6">

    <div class="card-chart">
      <div class="col">
        <h5>Profil</h5>
        <form>
          <div class="form-group">
            <label for="exampleFormControlInput1">Nom</label>
              <input type="text" class="form-control" id="exampleFormControlInput1">
          </div>
          <div class="form-group">
            <label for="exampleFormControlFile1">Télechargez votre photo</label>
            <input type="file" class="form-control-file" id="exampleFormControlFile1">
          </div>
         <div class="form-group">
            <label for="exampleFormControlInput1">Poste</label>
              <input type="text" class="form-control" id="exampleFormControlInput1" >
          </div>
          <div class="mb-4">
            <%= submit_tag( "Save" , class: "btn-primary" ) %>

          </div>
          </div>
        </form>
      </div>
    </div>
    <div class="col-6">
      <div class="card-chart">
        <div class="col">
          <h5>Societé</h5>
          <form>
            <div class="form-group">
              <label for="exampleFormControlInput1">Nom de la societé</label>
                <input type="text" class="form-control" id="exampleFormControlInput1">
            </div>
            <div class="form-group">
              <label for="exampleFormControlFile1">Télechargez le logo de la societé</label>
              <input type="file" class="form-control-file" id="exampleFormControlFile1">
            </div>
           <div class="form-group">
              <label for="exampleFormControlInput1">Timezone</label>
                <input type="text" class="form-control" id="exampleFormControlInput1">
            </div>
            <div class="mb-4">
              <%= submit_tag( "Save" , class: "btn-primary" ) %>

            </div>
            </div>

          </form>
        </div>
      </div>
    </div>
</div>
</main>
