.title-center{

flex-grow: 100 !important;
}

.modal-close {
  position: absolute !important ;
  top: 10px !important;
  right: 10px !important;

}

// .icons-right{
//   position: absolute;
//   bottom: 2px;
//   right: 10px;

// }
