.card-chart {
  background: white;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 4px 4px 10px rgba(0,0,0,.1);
}

.dropdown-menu.show {
  width: 300px;
}

// #chart-1 {
//   position: relative;
// }

// #chart-1:before {
//   content: "";
//   height: 5px;
//   width: 100%;
//   position: absolute;
//   top: 0;
//   left: 0;
//   background: red;
// }

