<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style type="text/css">
      /* Email styles need to be inline */
      @import url(https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&display=swap);
      body {
        background-color: #F9FBFD;
        font-family: 'Open sans';
      }
      h1 {
        font-size: 24px;
        color: #10355F;
        font-weight: 500;
      }
      h2 {
        font-size: 20px;
        color: #10355F;
        font-weight: 500;
      }
      p {
        font-size: 20px;
        color: #B2B2B2;
        font-weight: 500;
      }
    </style>
    <%#= javascript_pack_tag :application %>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/chartkick/2.3.0/chartkick.js"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/chartkick@3.2.0/dist/chartkick.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
  </head>

  <body>
    <%= yield %>

  </body>
</html>
